/*
  Header/Footer font-family: Patua One
  h1 .. h6 font-family: PT Sans
  p font-family: Roboto Slab

  dark gray:   #292929;
  gray:        #727272;
  light gray:  #959292;
  white:       #ffffff;
  green:       #79F2F2;
*/
body {
  width: 1000px;
  margin: auto;
  align-items: auto;
}

header, footer {
  width: 100%;
  text-align: center;
  color: #292929;
  padding: 15px;
  font-family: "Patua One", Helvetica;
}

header h1, header img, header ul {
  display: inline-block;
}

h1 {
  font-family: 'PT Sans', helvetica;
  font-size: 28px;
  color: #727272;
}

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', helvetica;
  font-size: 26px;
  color: #959595;
}

.sales-container {
  height: 1000px;
}
.sales-container section {
  margin: 20px 0px;
}

#fly-fishing {
  width: 100%;
}

.section-2-column {
  display: inline-block;
  width: calc(100% / 3);
  margin: 5% 0;
  margin-left: calc((100% / 3) / 3);
}

/*
 * Navigation menu common between both pages
 */
.nav-menu ul {
  width: 100%;
}

.nav-menu li {
  width: calc(100% / 10);
}

.nav-menu ul, .nav-menu li {
 padding: 0px;
 margin: 0px;
 text-align: center;
 display: inline-block;
 vertical-align: top;
}

#location, #contact, #about {
  text-align: center;
}

/*
 * All pictures in the rows
 */
.row-pic {
  height: 200px;
}

/*
 * Form styling
 */
/*
 * The only table is on the Sales page
 */
table {
  border-collapse: collapse;
  border: 4px solid;
  border-color: #79F2F2;
  width: 60%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr :nth-child(even) {
  background-color: #959292;
}

/*
 * Link styles
 */
a.header-link:link,
a.header-link:visited,
a.header-link:hover {
  text-decoration: none;
  font-weight: bold;
  color: #292929;
}
a.header-link:hover,
a.header-link:active {
  color: #727272;
}


.sales-headings {
  text-align: center;
}

/*
 * Input Field Styling
 */
input {
  margin: 8px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #959292;
  color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

button {
  background-color: #79F2F2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}